<a href="https://colab.research.google.com/github/Gatugutamercy/IP-Week-4-Electric-car-usage-/blob/master/Week4_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importing the Libraries
import pandas as pd
import numpy as np

1. Loading the dataset

In [39]:
# loading the Electric car dataset

Car_df = pd.read_csv('http://bit.ly/autolib_dataset')
Car_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

2. Previewing the dataset

In [130]:
#Getting information abou the data
Car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar_counter      5000 non-null   int64
 3   Utilib_counter       5000 non-null   int64
 4   Utilib_1.4_counter   5000 non-null   int64
 5   Charge_Slots         5000 non-null   int64
 6   Charging_Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed_comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo_point            5000 non-null   object
 12  Postal_code          5000 non-null   int64
 13  Public_name          5000 non-null   object
 14  Rental_status        5000 non-null   object
 15  Scheduled_at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station_type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription_status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [131]:
#Understanding the dataset's shape
Car_df.shape

(5000, 25)

3. Cleaning the dataset

3.1 Uniformity

In [217]:
#  We can add _ between the column names with 2 words for easier analysis
Car_df.columns = [c.replace(' ', '_') for c in Car_df.columns]
Car_df

                                 Address  Cars  ...  minute                Date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[5000 rows x 26 columns]

3.2 Consistency

In [218]:
#  We can add _ between the column names with 2 words for easier analysis
Car_df.columns = [c.replace(' ', '_') for c in Car_df.columns]
Car_df

                                 Address  Cars  ...  minute                Date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[5000 rows x 26 columns]

In [219]:
Car_df['Date']=pd.to_datetime(Car_df[['year','month','day', 'hour', 'minute']])
Car_df

                                 Address  Cars  ...  minute                Date
0                    2 Avenue de Suffren     0  ...      43 2018-04-08 11:43:00
1              145 Rue Raymond Losserand     6  ...      24 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy     3  ...      14 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...      37 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret     3  ...      23 2018-04-08 17:23:00
...                                  ...   ...  ...     ...                 ...
4995                 8 avenue MÃ©nelotte     2  ...      26 2018-04-06 11:26:00
4996                   37 rue de Dantzig     4  ...      56 2018-04-04 16:56:00
4997                      142 rue du Bac     1  ...       1 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay     2  ...      27 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson     4  ...       2 2018-04-08 10:02:00

[5000 rows x 26 columns]

In [220]:
# We can start by deleting the car column as it is a duplicate of the Bluecar counter and Year, and month data was collected on April, 2018
car_1 = Car_df.drop(columns=['Cars', 'year', 'month', 'day', 'hour', 'minute'])
car_1

                                 Address  ...                Date
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
2       2 Avenue John Fitzgerald Kennedy  ... 2018-04-03 20:14:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
...                                  ...  ...                 ...
4995                 8 avenue MÃ©nelotte  ... 2018-04-06 11:26:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4998         2 avenue du Val de Fontenay  ... 2018-04-04 17:27:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[5000 rows x 20 columns]

3.3 Validity

In [164]:
# We drop scheduled at and Displayed comment column which is not important for our data analysis
car_2 = car_1.drop(columns=['Displayed_comment', 'Scheduled_at'])
car_2.shape

(5000, 18)

In [165]:
#we delete row that are not useful in our dataset
# Stations that have no resources may not be useful in our data.
# we will drop the first 2 which will cater for the rest
# They include:
# where Kind == CENTER
# Where Rental Status == future 
# Where Status = Scheduled
# Where Charging Status == future
# Where Subscription Status == future

car_3 = car_2[car_2.Kind != 'CENTER']
car_3.shape

(4997, 18)

In [166]:
car_4 = car_3[car_3.Status != 'scheduled']
car_4.shape

(4950, 18)

3.4 Accuracy

In [167]:
# We proceed to chwck columns that are not within the specified range ie
# Bluecar_counter (0-7)
# Utilib_Counter (0-5)
# Utilib_1.4_counter
# Charge_slots (0-3)
((car_4['Bluecar_counter'] > 7) & (car_4['Bluecar_counter'] < 0)).any()
# all are within the range

False

In [168]:
((car_4['Utilib_counter'] > 4) & (car_4['Utilib_counter'] < 0)).any()
#All are within the range

False

In [169]:
((car_4['Utilib_1.4_counter'] > 5) & (car_4['Utilib_1.4_counter'] < 0)).any()
# All are within the range

False

In [170]:
((car_4['Charge_Slots'] > 5) & (car_4['Charge_Slots'] < 0)).any()
#All are within the range

False

4. Data Analysis

In [209]:
# First we selecting all tye rows with the city as Paris and name the data df
df = car_4[car_4.City == 'Paris']
df

                                 Address  ...                Date
0                    2 Avenue de Suffren  ... 2018-04-08 11:43:00
1              145 Rue Raymond Losserand  ... 2018-04-06 07:24:00
3                 51 Rue EugÃ¨ne OudinÃ©  ... 2018-04-04 04:37:00
4     6 avenue de la Porte de Champerret  ... 2018-04-08 17:23:00
5                   8 Boulevard Voltaire  ... 2018-04-06 07:02:00
...                                  ...  ...                 ...
4992                     3 avenue d'Ivry  ... 2018-04-09 23:01:00
4994                    15 rue de Rocroy  ... 2018-04-01 20:49:00
4996                   37 rue de Dantzig  ... 2018-04-04 16:56:00
4997                      142 rue du Bac  ... 2018-04-01 07:01:00
4999                 5 Rue Henry Brisson  ... 2018-04-08 10:02:00

[2804 rows x 18 columns]

In [221]:
# We need to arrange the data in ascending order on the date column
df_1 = df.sort_values('Date',ascending=True)
df_1.head()

                               Address  ...                Date
1046  112 Rue Monge BÃ¢timent Lieu-dit  ... 2018-04-01 00:00:00
2874         44 rue SÃ©bastien Mercier  ... 2018-04-01 00:02:00
1107          19 place de la Madeleine  ... 2018-04-01 00:02:00
2059                   2 Avenue Mozart  ... 2018-04-01 00:03:00
4453          2 rue Neuve Saint-Pierre  ... 2018-04-01 00:04:00

[5 rows x 18 columns]

In [227]:
df_2 = df_1.sort_values(['ID', 'Date'], ascending=[False, False])
df_2

                       Address  ...  Bluecar_diff
3374         3 Rue Yves Toudic  ...          -3.0
285          3 Rue Yves Toudic  ...          -1.0
4546         3 Rue Yves Toudic  ...           0.0
2092         3 Rue Yves Toudic  ...           0.0
2689         3 Rue Yves Toudic  ...          -6.0
...                        ...  ...           ...
4940  8 Place du 25 AoÃ»t 1944  ...          -2.0
911   8 Place du 25 AoÃ»t 1944  ...          -2.0
2312  8 Place du 25 AoÃ»t 1944  ...           1.0
1891  8 Place du 25 AoÃ»t 1944  ...           1.0
710   8 Place du 25 AoÃ»t 1944  ...           0.0

[2804 rows x 19 columns]

In [244]:
# finsing the difference between consequtive rows in Blue cars to identify the hour where cars were mostly taken from the stations
df_2["Bluecar_diff"] = df_2["Bluecar_counter"].diff(1)
df_2
# the - value in Bluecar_diff means that the car was taken from the station, while + value means that the car was brought back to the station.

                       Address  ...  Bluecar_diff
3374         3 Rue Yves Toudic  ...           NaN
285          3 Rue Yves Toudic  ...           0.0
4546         3 Rue Yves Toudic  ...           0.0
2092         3 Rue Yves Toudic  ...           0.0
2689         3 Rue Yves Toudic  ...           0.0
...                        ...  ...           ...
4940  8 Place du 25 AoÃ»t 1944  ...           0.0
911   8 Place du 25 AoÃ»t 1944  ...           2.0
2312  8 Place du 25 AoÃ»t 1944  ...          -1.0
1891  8 Place du 25 AoÃ»t 1944  ...           2.0
710   8 Place du 25 AoÃ»t 1944  ...          -3.0

[2804 rows x 19 columns]

In [245]:
# Now we look at the time when most blue cars were brought back to the stations
df_2.nsmallest(3, 'Bluecar_diff')
#this will provide the times that were most popular for bringing back the blue cars

                         Address  ...  Bluecar_diff
4838  2 rue du GÃ©nÃ©ral Renault  ...          -7.0
600              19 rue Tronchet  ...          -6.0
3287           80 rue de Reuilly  ...          -6.0

[3 rows x 19 columns]

In [254]:
# Now we look at the most popular hour for picking up blue cars, by checking when most cars were taken from the Autolib stations
df_2.nlargest(3, 'Bluecar_diff')
#this will provide the hours that were most popular for picking the blue cars

                           Address  ...  Bluecar_diff
2470    2 rue du GÃ©nÃ©ral Renault  ...           7.0
4129               19 rue Tronchet  ...           6.0
2606  110 Boulevard Richard Lenoir  ...           6.0

[3 rows x 19 columns]