<a href="https://colab.research.google.com/github/Gatugutamercy/IP-Week-4-Electric-car-usage-/blob/master/Week4_IP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the Libraries
import pandas as pd
import numpy as np

1. Loading the dataset

In [2]:
# loading the Electric car dataset

Car_df = pd.read_csv('http://bit.ly/autolib_dataset')
Car_df

                                 Address  Cars  ...  hour  minute
0                    2 Avenue de Suffren     0  ...    11      43
1              145 Rue Raymond Losserand     6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy     3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©     3  ...     4      37
4     6 avenue de la Porte de Champerret     3  ...    17      23
...                                  ...   ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte     2  ...    11      26
4996                   37 rue de Dantzig     4  ...    16      56
4997                      142 rue du Bac     1  ...     7       1
4998         2 avenue du Val de Fontenay     2  ...    17      27
4999                 5 Rue Henry Brisson     4  ...    10       2

[5000 rows x 25 columns]

2. Previewing the dataset

In [4]:
#Getting information abou the data
Car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [5]:
#Understanding the dataset's shape
Car_df.shape

(5000, 25)

3. Cleaning the dataset

3.1 Consistency

In [6]:
# We can start by deleting the car column as it is a duplicate of the Bluecar counter
car_1 = Car_df.drop(columns=['Cars'])
car_1

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 24 columns]

3.2 Validity

In [7]:
# We drop scheduled at and Displayed comment column which is not important for our data analysis
car_2 = car_1.drop(columns=['Displayed comment', 'Scheduled at'])
car_2

                                 Address  Bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 22 columns]

In [ ]:
#we delete row that are not useful in our dataset
# Stations that have no resources may not be useful in our data.
# They include:
# where Kind == CENTER
# Where Rental Status == future or Where Status = Scheduled
car_new = car_2.drop(car_2[(car_2['Kind'] == 'CENTER') & (car_2['Rental status'] == 'future')].index)
car_new

In [31]:
# delete all rows with column 'Bluecar counter' is not in the range 0-7
notrange = car_new[ (car_new['Bluecar counter'] < 0) & (car_new['Bluecar counter'] > 7) ].index
car_3 = car_new.drop(notrange, inplace=True)
print(car_3)

None

In [13]:
# delete all rows with column 'Utilib counter' is not in the range 0-4
notrange = car_new[ (car_2['Utilib counter'] < 0) & (car_2['Bluecar counter'] > 4) ].index
car_2.drop(notrange , inplace=True)
car_2.shape

(5000, 22)